# Logs
logs
*.log
.data
.logs
.db/order/*.json
.db/token/*.json
.db/customer/*.json

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env
