<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="Nodejs Master Course Homework Assignment Three">
        <meta name="author" content="John P. Butler aka Zuben El Genubi">

        <!--favicon icon-->
        <link rel="icon" type="image/png" href="./public/img/favicon.png">

        <!-- style sheets -->
        <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
            crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="./public/css/rollup.css" />

        <!-- title -->
        <title>@@name@@</title>
    </head>

    <body class="@@bodyClass@@">
        <!-- grid-container -->
        <div class="grid-container">
            <!-- Wrapper -->
            <div class="wrapper">
                <!-- Header -->
                @@@navigation@@@
                <!-- end header -->
                <!-- Content -->
                <div class="content">
                    <div class="sectionTitle alignCenter">
                        @@@sectionTitle@@@
                    </div>
                    <div class="sectionBody">
                        @@@sectionBody@@@
                    </div>
                </div>
                <!-- end content -->
            </div>
            <!-- end wrapper -->
            <!-- Footer -->
            @@@footer@@@
            <!-- end footer -->
        </div>
        <!-- End grid-container -->
        <div>
            <!-- javascript -->
            <script type="module" src="./public/js/app.js"></script>
        </div>
    </body>

</html>
