<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="Nodejs Master Course Homework Assignment Three">
        <meta name="author" content="John P. Butler aka Zuben El Genubi">

        <!--favicon icon-->
        <link rel="icon" type="image/png" href="./public/img/favicon.png">

        <!-- style sheets -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="./public/css/rollup.css" />

        <!-- title -->
        <title>@@name@@</title>
    </head>

    <body class="@@bodyClass@@">
        <!-- grid-container -->
        <div class="grid-container">
            <!-- Wrapper -->
            <div class="wrapper">
                <!-- Header -->
                @@@navigation@@@
                <!-- end header -->
                <!-- Content -->
                <div class="content">
                    <div class="sectionTitle alignCenter">
                        @@@sectionTitle@@@
                    </div>
                    <div class="sectionBody">
                        @@@sectionBody@@@
                    </div>
                </div>
                <!-- end content -->
            </div>
            <!-- end wrapper -->
            <!-- Footer -->
            @@@footer@@@
            <!-- end footer -->
        </div>
        <!-- End grid-container -->
        <div>
            <!-- javascript -->
            <!-- hack to share between node and browser -->
            <script src="./public/js/common/helpers.js"></script>
            <script src="./public/js/common/smartCollection.js"></script>`
            <!-- main -->
            <script type="module" src="./public/js/app.js"></script>
        </div>
    </body>

</html>
