<div class="orderCollection">
  <h3>Create a new Order</h3>
  <hr />

  <form id="basketCreateFrm" action="/basket/create" method="POST">
    <div class="formError"></div>
    <input class="hiddenPhoneNumberInput" type="hidden" name="phone" />
    <!-- Begin menuGroups generated html-->
    @@@orderGroups@@@
    <!-- End menuGroups generated html -->
    <div class="inputWrapper ctaWrapper">
      <button type="submit" class="cta blue checkOutButton">Check Out</button>
    </div>
  </form>
</div>
